h3{
    size: 5vh;
    color: aliceblue;
}

.letter {
    border: 1px solid gray;
    border-radius: 15%;
    width: 5vw;
    max-width: 28px;
    height: 8vh;
    max-width: 46px;

    padding: 2px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter.green {
    background-color: rgb(131, 194, 37);
}
.letter.yellow {
    background-color: rgb(189, 189, 33);
}
.letter.black {
    background-color: #444444;
}

.letter.special {
    width: 12vw;
}

.letter-light {
    background-color: #888888;
}

.letter-dark {
    background-color: #444444;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
    height: 30vh;
    bottom: 0;
    justify-content: flex-end;
}