.overlay-back {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.overlay {
    position: absolute;
    background-color: #222222;
    border: 2px solid #444444;
    border-radius: 15px;
    height: 90%;
    width: 80%;
    padding: 15px;
    max-width: 400px;
    margin-top: 10px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    
}

.hidden {
    display: none;
}

.chart {
    height: 20vh !important;
}

.top-overlay {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.counter-div {
    width: 100%;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: xx-large;
    margin-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
}

.stat-text {
    text-align: center;
    color: whitesmoke;
}

.win-stats {
    margin: 10px 0%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.win-labels {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.win-numbers {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: x-large;
    font-weight: bold;
}